@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

.users {
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 12px;
  max-width: 40rem;
  text-align: center;
}

.users ul {
  background-color: rgb(177, 165, 165);
  border-radius: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  border-radius: 8px;
  padding: 0.75rem 2rem;
}

button:hover,
button:active {
  background-color: #630032;
  border-color: #630032;
}
